<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
  <form>
      <input type="text" id="taskInfo" [(ngModel)]="newTaskName" name="newTaskName" placeholder="New Task">
      <input type="text" name="newTaskDescription" placeholder="Description">
      <input type="time" name="newTaskTime">
      <button (click)="addTask(newTaskName)">Add</button>
  </form>    

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Task Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Est. Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <th scope="row">1</th>
            <td>{{task}} </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
            <td>
                    <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Planning
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Planning</a>
                              <a class="dropdown-item" href="#">In-progress</a>
                              <a class="dropdown-item" href="#">Completed</a>
                            </div>
                    </div>
            </td>
            <td>3:15</td>
          </tr>
       
        </tbody>
    </table> 
</div>
<div id="taskStats">

</div>

<router-outlet></router-outlet>
