<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">



  <form>
      <input type="text" [(ngModel)]="titleTask" name="taskName" placeholder="New Task">
      <input type="text" [(ngModel)]="description"  name="taskDescription" placeholder="Description">
      <select class="custom-select" [(ngModel)]="status" name ="statusOptions" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="In-Progress">In-Progress</option>
          <option value="Completed">Completed</option>
          <option value="Planning">Planning</option>
        </select>
      <input type="time"  [(ngModel)]="time" name="taskTime">
      <button class="btn btn-primary" (click)="addTask(titleTask, description, status, time)">Add</button>
  </form>  


    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Task Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Est. Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of taskList">
            <th scope="row">1</th>
            <td>{{task.title}} </td>
            <td>{{task.description}}</td>
            <td>
                    <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{task.status}}
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Planning</a>
                              <a class="dropdown-item" href="#">In-progress</a>
                              <a class="dropdown-item" href="#">Completed</a>
                            </div>
                    </div>
            </td>
            <td>{{task.time}}</td>
          </tr>
       
        </tbody>
    </table> 
</div>
<div id="taskStats">

</div>

<router-outlet></router-outlet>
